@import "~semantic-ui-css/semantic.min.css";
@import "styles/hardware.scss";
@import "styles/RequestManagement.scss";


body {
  //padding-top: $pt-navbar-height;
}

//* {
//  margin: 0;
//  padding: 0;
//}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;

  > .flex-item {
    width: 100%;
    max-width: 500px;
    margin: 5px;
  }
}

