{
  "secrets": {
    "adminKey": "",
    "session": "",
    "groundTruth": {
      "url": "https://login.hack.gt",
      "id": "",
      "secret": ""
    }
  },
  "admins": {
    "domains": [],
    "emails": []
  },
  "server": {
    "postgresURL": "postgresql://localhost:5432/bolt",
    "isProduction": false,
    "defaultTimezone": "America/New_York"
  }
}
