.hardware-item-user-name {
  display: inline;
  padding-right: 2rem;
}

.hardware-item-name {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.hardware-board-style{
  height: 40rem;
  overflow-y: scroll;
  background: #eaeaea;
  overflow-x: hidden;
  padding: 15px;
};
